
.site-wrapper
  .site-wrapper-inner
    .cover-container

      #background
      
      .inner.cover
        %h1.cover-heading
          TakeFood
          %br
            %h3 新型コロナウィルスの感染拡大により、全国の飲食店が経営的に厳しい状況にある中、存続のためにテイクアウトをはじめるお店が増えてきました。
            そんな飲食店を応援することを目的に、テイクアウトの情報を少しでも多くの人に伝えるためのサービスとなっております。
        %p.lead
        %p.lead
          = link_to "お店を登録する",  class: "btn btn-lg btn-secondary"
          = link_to "テイクアウト最新情報をみる", posts_path, class: "btn btn-lg btn-secondary"

