
.site-wrapper
  .site-wrapper-inner
    .cover-container

      #background

      .inner.cover
        %h1.cover-heading
          食べたいあの料理
          %br
            テイクアウトやってるかも
        %p.lead
        %p.lead
          = link_to "自己紹介",  class: "btn btn-lg btn-secondary"
