@import "reset";
@import "bootstrap";
@import "mixin/all";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/devise";
@import "modules/slick-theme";

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('restaurant-766050.jpg') no-repeat;
  background-size: cover;
}
